body {
  background-color: beige;
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin: 0;
  padding: 20px;
}

#info-box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  animation: fadeIn 1s ease-in-out;
}

h1 {
  color: gold;
  font-size: 2em;
}

ol {
  padding-left: 20px;
}

li {
  margin: 10px 0;
}

img {
  border-radius: 5px;
  margin: 10px 0;
  max-width: 100%;
  height: auto;
  border: solid 5px;
}
